<footer class="bg-body-tertiary bg-success text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-center text-white">Agriculture Solutions Inc</h5>

        <p class="text-white">
          Our mission is to empower farmers by providing easy access to essential agricultural equipment through a reliable
           and user-friendly rental platform.
           We aim to foster sustainable farming practices and enhance the productivity of the agricultural community.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-center text-white">Green Field Brand</h5>

        <p class="text-white">
          Our platform connects farmers with equipment owners,
           ensuring access to essential machinery for enhanced productivity and sustainable farming practices.
           To be the leading provider of innovative agricultural solutions, transforming the farming landscape 
           by making advanced equipment accessible to every farmer.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class=" text-white" href="https://mdbootstrap.com/">AgricultureSolutionsInc@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>